main{
    min-height: 80vh;
}

h3 {
    padding: 1rem;
}
.rating span{
    margin: 0.1rem;
}



.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: rgb(26, 24, 24);
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
    
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}


h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}



.sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        min-height: 100vh !important;
        /* z-index: 100; */
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    #sidebar-wrapper{
        min-height: 100vh !important;
        width: 100vw;
        margin-left: -1rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }
    
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

.filter-float{
    position: sticky;
    top: 30px;
    right: 5px;
    box-shadow: 3px 3px 4px #999;
    border-radius: 50%;
    z-index: 100;
    float: left;
}

.my-filter{
    margin-top: 10px;
}